[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
matplotlib = "*"
numpy = "*"
colorama = "*"
bs4 = "*"
pytest = "*"
nltk = "*"
argparse = "*"
requests = "*"
torch-xla = "*"
importlib-resources = "*"
python-dotenv = "*"
tokenizers = "*"
zipp = "*"
chardet = "*"
torch = "*"
lightning = "*"

[dev-packages]
autoflake = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"

[scripts]
linter = "sh ./scripts/linter.sh"
train = "python -m src.model.train"
eval = "python -m src.model.evaluate"
scrape-bible = "python -m src.dataset.get_bible_verses"
test = "pytest ./tests --disable-warnings"
scrape-wiki = "python -m src.dataset.crawler"
