[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
matplotlib = "*"
torch = "*"
numpy = "*"
colorama = "*"
bs4 = "*"
pytest = "*"
nltk = "*"
argparse = "*"
requests = "*"
torch-xla = "*"

[dev-packages]
autoflake = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"

[scripts]
linter = "sh ./scripts/linter.sh"
train = "python -m src.model.train"
eval = "python -m src.model.evaluate"
test = "pytest ./tests"
